---
import NavButton from "../NavButton.astro";
---

<ul class="flex gap-4">
  <li>
    <NavButton href="/#" type="web-nav">
      Inicio
    </NavButton>
  </li>
  <li>
    <NavButton href="/#my-work" type="web-nav">
      Mi trabajo
    </NavButton>
  </li>
  <li>
    <NavButton href="/acerca-de-mi" type="web-nav">
      Acerca de mi
    </NavButton>
  </li>
</ul>