---
import WebNavigations from "./navigations/WebNav.astro";
import NetworkNav from "./navigations/NetworkNav.astro";
---

<header class="text-xl my-8">
  <nav class="flex justify-between">
    <NetworkNav />
    <WebNavigations />
  </nav>
</header>