---
interface Props {
  title: string
  description: string
  link?: string
}

const {
  title,
  description,
  link= ''
} = Astro.props;
---

<article class="sm:w-96 p-4 rounded-md bg-blue-950">
  <h3 class="text-blue-400 mb-2 font-barlow text-xl">
    {
      link !== ''
        ? (
        <a class="hover:underline" href={link} target="_blank">
          {title}
        </a>
        ) : title
    }
  </h3>
  <p>
    {description}
  </p>
</article>
