---
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>M4KU | {title}</title>
	</head>
	<body class="md:grid max-w-5xl md:gap-4 md:mx-auto bg-[#1e2124] text-white font-roboto">
		<Header />
		<main class="grid gap-6 mb-16">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "BarlowCondensed";
		src: url("/fonts/BarlowCondensed-Regular.woff2");
	}
	@font-face {
		font-family: "RobotoSlab";
		src: url("/fonts/RobotoSlab-VariableFont_wght.woff2");
	}
</style>
